<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer page</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <nav>
        <div class="img"> <a href="../../index.html"><img src="../../images/logo.png" alt=""></a></div>
        <div class="btn_navbar">
            <a href="#"><button class="button">Customer</button></a>
            <a href="../seller/seller.html"><button class="button">seller</button></a>
        </div>
    </nav>
    <div class="contain_customerpage">
        <form action="" class="search_animal">
            <input type="text" placeholder="Search name animal..."  id="myInput"  onkeyup="myFunction()" />
            <img src="../../images/searchIcon.png" alt="">
        </form>
        <div class="card_product">
            <div class="new_product">
                <h2>Now Product</h2>
                <div class="all_card"  id = "contain_new_product">
                </div>
            </div>
            <div class="old_product">
                    <h2>Old Product</h2>
                    <div class="all_card" id = "contain_old_product" ></div>
            </div>
        </div>
    </div>
</body>
<script src="customer.js"></script>
</html>