<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer page</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <nav>
        <div class="img"> <a href="../../index.html"><img src="../../images/logo.png" alt=""></a></div>
        <div class="btn_navbar">
            <a href="#"><button class="button">Customer</button></a>
            <a href="../seller/seller.html"><button class="button">seller</button></a>
        </div>
    </nav>
    <div class="contain_customercard">
        <div class="search">
            <input type="search">
        </div>
        <div class="card_product">
            <div class="card">
                
            </div>
        </div>
    </div>
</body>
</html>